@font-face {
    font-family:yarden_bold ;
    src: url(fonts/yarden-bold-alefalefalef.otf);
  }

  @font-face {
    font-family:yarden_normal ;
    src: url(fonts/yarden-regular-alefalefalef.otf);
  }



/*חלק עליון*/
  #headline
  {
    display: flex; 
    justify-content:center;
    align-items:center;
    font-size: 150px;
    font-family: yarden_bold;
  }



  #clock
  {
    display: flex; 
    justify-content:center;
    align-items:center;
    padding: 10px;
    font-size: 30px;
    margin: 5 auto;
    font-family: math;
    border: 6px  rgb(8, 8, 8);
    border-radius: 4px;
  }


.header_btn
  {
    display: flex; 
    justify-content:center;
    align-items:center;
    padding: 5px;
    font-size: 30px;
    margin: 5 auto;
    font-family: math;
  }


  /*החלק המרכזי - המשחק*/
 main
{
  

  display: flex;
 
}

.container
{
  
height: 800px;
  
  
}

.card 
{
  width: 130px;
  height: 180px;
  transform-style: preserve-3d;
  transform-origin: center right;
  background:transparent;
  transition: transform 0.4s;

}

.card.is-flipped
{
  transform: translateX(-100%) rotateY(-180deg);
}


.card__face
 {
  position: absolute;
  text-align:center;
  font-size: 25px; 
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background:transparent;
}


.card__face--back 
{
  background-image: url(images/רקעלקלף\ בליסמל.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotateY(180deg);
  border: 2px solid rgb(46, 44, 44);
  border-radius: 10px;
  font-family: yarden_normal;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-back-image
{
  border: 2px solid rgb(46, 44, 44);
  border-radius: 10px;
}


.unit_image
{
  background:transparent;
  padding-top: 8px;
  /* padding: 8px; */
 
}

.container
{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.card_text
{
  display: flex;
  justify-content:center;
  align-items:baseline;
}




