@font-face {
    font-family:yarden_bold ;
    src: url(fonts/yarden-bold-alefalefalef.otf);
  }

  @font-face {
    font-family:yarden_normal ;
    src: url(fonts/yarden-regular-alefalefalef.otf);
  }

  /*שורת התחלה*/

.header
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: yarden_bold;
    background-color: rgb(101 122 143);
    font-size: 60px;
    color: rgb(253, 250, 246);
    height: 60px;
}

#restart
{
  border: none;
  background-color: transparent;
  width: 100px;
  padding: 8px;
  margin-top: 12px;
  color: white;
}

#userGreeting
{
  display: flex;
  justify-content: center;
 text-align: center;
  background-color: rgb(101 122 143);
  font-family:yarden_normal ;
  font-size: 30px;
}


/*רקע המשחק*/

video#background-video
  {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: auto;
    z-index: -1;
    opacity: 0.5;
}

/*הקלפים*/

.card 
{
  width: 130px;
  height: 180px;
  transform-style: preserve-3d;
  transform-origin: center right;
  background:transparent;
  transition: transform 0.4s;

}

.card.is-flipped
{
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face
 {
  position: absolute;
  text-align:center;
  font-size: 25px; 
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background:transparent;
}

.card__face--back 
{
  background-image: url(images/רקעלקלף\ בליסמל.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotateY(180deg);
  border: 2px solid rgb(46, 44, 44);
  border-radius: 10px;
  font-family: yarden_normal;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-back-image
{
  border: 2px solid rgb(46, 44, 44);
  border-radius: 10px;
}

.unit_image
{
  background:transparent;
  padding-top: 8px;
  /* padding: 8px; */
 
}


/*התראה עבור ניצחון*/

#alertPopup {
  background-image: url(images/תמונה\ של\ WhatsApp‏\ 2024-04-13\ בשעה\ 20.22.35_aadec0c7.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 400px;

  font-family: yarden_bold;
  font-size: 60px;

  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: none;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 

  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

#closebtn
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: yarden_normal;
  font-size: 20px;
}

