.timer * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.timer .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  user-select: none;
  border-radius: 5px;
  background-color: #D5F3FE;
  box-shadow: 0 0 3px black, 0 0 5px black;
  padding: 10px;
}

.timer .frame {
  display: flex;
  gap: 3px;
  color: rgb(70, 105, 116);
  text-shadow: none;
  font-weight: bold;
}

.hrs {
  margin-inline-start: 10px;
}

.ms {
  margin-inline-end: 10px;
}

.hrs,
.min,
.sec,
.ms,
.colon {
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.timer .colon {
  width: 10px;
  height: 50px;
}

.timer .buttons {
  display: flex;
}

.timer button:hover {
  opacity: 0.5;
}

.timer .buttons button {
  border: none;
  padding: 5px 10px;
  color: #D5F3FE;
  border-radius: 3px;
  text-transform: uppercase;
  background: none;
  text-shadow: 0 0 3px black, 0 0 5px black;
  font-size: 30px;
  cursor: pointer;
}

.timer .start-active,
.timer .stop-active {
  pointer-events: none;
  opacity: 0.5;
}